[Unit]
Description=HDFS {{ program }}

[Service]
Type=forking
User={{hdfs_user}}
Group={{hdfs_group}}
ExecStart={{ hdfs_hadoop_home }}/sbin/hadoop-daemon.sh --config {{ hdfs_conf_dir }} --script hdfs start {{ program }}
ExecStop={{ hdfs_hadoop_home }}/sbin/hadoop-daemon.sh --config {{ hdfs_conf_dir }} --script hdfs stop {{ program }}
RemainAfterExit=no
PIDFile=$HADOOP_PID_DIR/hadoop-hdfs-{{program}}.pid

TimeoutSec=300

[Install]
WantedBy=multi-user.target
